﻿<div id="loginFrom">
    <div class="demo-section k-content" >
        <div id="tickets">
            <form kendo-validator="validator" ng-submit="vm.validate($event)">
                <ul id="fieldlist">
                    <li>
                        <label for="categories Name" class="required">Categories Name</label>
                        <input type="text" ng-model="vm.categoriesNameAdd" id="categoriesNameAdd" name="categories Name" class="k-textbox" placeholder="Categories Name" required validationMessage="Enter {0}" style="width: 220px;" />
                    </li>


                    <li class="confirm">
                        <button class="k-button k-primary" type="button" ng-click="vm.addCategories()">Submit</button>
                    </li>

                    <li class="status {{ vm.validationClass }}">{{ vm.validationMessage }} </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<style>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

        #fieldlist li.status {
            text-align: center;
        }

        #fieldlist li .k-widget:not(.k-tooltip),
        #fieldlist li .k-textbox {
            margin: 0 5px 5px 0;
        }

    .confirm {
        padding-top: 1em;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    #fieldlist li input[type="checkbox"] {
        margin: 0 5px 0 0;
    }

    span.k-widget.k-tooltip-validation {
        display: inline-block;
        width: 200px;
        text-align: left;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        color: red;
    }

    .k-tooltip-validation .k-warning {
        display: none;
    }
</style>