﻿body {
}
body {
}

.centeredWindow {
    /*position: absolute;
    top: 0%;
    margin-left: 35%;
    transform: translate(-50%, -50%);*/
    position: fixed;
    margin: 0 auto;
    /*left: 50%;
    transform: translate(-150%, 0%);*/
}