﻿<div id="postFrom" >
    <div class="demo-section k-content">
        <div id="tickets">
            <form kendo-validator="validator" ng-submit="validate($event)">
                <ul id="fieldlist">

                    <li>
                        <label for="Slug" class="required">Slug</label>
                        <input type="text" ng-model="vm.postItem.Slug" id="postName" name="Slug" class="k-textbox" placeholder="Slug" required validationMessage="Enter {0}" style="width: 220px;" />
                    </li>
                    <li>
                        <label for="Categories" class="required">Categories</label>
                        <select kendo-drop-down-list
                                k-value-primitive="true"
                                k-ng-model ="vm.CategoriesId"
                                k-data-text-field="'CategoriesName'"
                                k-data-value-field="'CategoriesId'"
                                k-data-source="vm.categoriesItems"
                                style="width: 100%"></select>
                    </li>
                    <li>
                        <label for="Content" class="required">Categories</label>
                        <textarea kendo-editor k-ng-model="vm.postItem.Content" class="k-textbox"></textarea>
                    </li>

                    <li class="confirm">
                        <button class="k-button k-primary" type="button" ng-click="vm.addPost()">Submit</button>
                    </li>

                    <li class="status {{ validationClass }}">{{ validationMessage }} </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<style>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

        #fieldlist li.status {
            text-align: center;
        }

        #fieldlist li .k-widget:not(.k-tooltip),
        #fieldlist li .k-textbox {
            margin: 0 5px 5px 0;
        }

    .confirm {
        padding-top: 1em;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    #fieldlist li input[type="checkbox"] {
        margin: 0 5px 0 0;
    }

    span.k-widget.k-tooltip-validation {
        display: inline-block;
        width: 200px;
        text-align: left;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        color: red;
    }

    .k-tooltip-validation .k-warning {
        display: none;
    }
</style>