﻿<div id="loginFrom" ng-controller="loginController">
    <div class="demo-section k-content">
        <div id="login">
            <form kendo-validator="validator" ng-submit="validate($event)">
                <ul id="fieldlist">
                    <li>
                        <label for="fullname" class="required">Your Name</label>
                        <input type="text" name="username" ng-model="LoginModel.username" class="k-textbox" placeholder="Full name" required validationMessage="Enter {0}" style="width: 380px;" />
                    </li>

                    <li>
                        <label for="tel" class="required">Password</label>
                        <input type="password" name="password" class="k-textbox" ng-model="LoginModel.password" placeholder="Enter password" required
                               style="width: 380px;" />
                    </li>

                    <li class="confirm">
                        <button class="k-button k-primary" type="button" ng-click="login()">Login</button>
                        <button class="k-button k-primary" type="button" ng-click="cancel()">Cancel</button>
                    </li>

                    <li class="status {{ validationClass }}">{{ validationMessage }} </li>
                </ul>
            </form>
        </div>
    </div>
    <script id="notificationSuccess" type="text/x-kendo-template">
        <p style="width: 16em; padding:1em;white-space:nowrap; "> {{ngValue}} #= kValue # </p>
    </script>
    <script id="notificationFail" type="text/x-kendo-template">
        <p style="width: 16em; padding:1em;white-space:nowrap; "> {{ngValue}} #= kValue # </p>
    </script>
    <span kendo-notification="notifySuccess" k-options="notifySuccessOptions"></span>
    <span kendo-notification="notifyFail" k-options="notifyFailOptions"></span>
</div>

<style>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

        #fieldlist li.status {
            text-align: center;
        }

        #fieldlist li .k-widget:not(.k-tooltip),
        #fieldlist li .k-textbox {
            margin: 0 5px 5px 0;
        }

    .confirm {
        padding-top: 1em;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    #fieldlist li input[type="checkbox"] {
        margin: 0 5px 0 0;
    }

    span.k-widget.k-tooltip-validation {
        display: inline-block;
        width: 160px;
        text-align: left;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        color: red;
    }

    .k-tooltip-validation .k-warning {
        display: none;
    }
</style>