﻿@inherits ViewPage
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="helloApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="helloApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="helloApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS App</title>
    <base href="/" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--build: kendoui css-->
    @*<base href="https://demos.telerik.com/kendo-ui/grid/angular">*@
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.default-v2.min.css" />
    <!-- endbuild: kendouiCss-->
    <!--htmlbuild:bootstrapCss -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <!-- endbuild -->
    <!--htmlbuild:css /css/app.min.css-->
    <link rel="stylesheet" href="/css/app.css" />
    <!-- endbuild -->
    <!-- htmlbuild:jqueryCdn -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <!-- endbuild -->
    <!-- htmlbuild:bootstrapJs -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbuild -->
    <!--htmlbuild:kendoJquery -->
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.all.min.js"></script>
    <!-- endbuild -->
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation" ng-controller="navigationCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">AngularJS App</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-hide="isActive">
                    <li ng-class="{ active: IsRouteActive('/categories')}"><a ng-href="#!/categories">Categories</a></li>
                    <li ng-class="{ active: IsRouteActive('/post')}"><a ng-href="#!/post">Post</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!/login">Login</a></li>
                            <li><a href="#!/register">Register</a></li>
                            <li><a ng-click="logout()" ng-hide="isActive">Logout</a></li>

                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
        <div id="loginWindow" class="centeredWindow">
            <div>
                <div kendo-window="loginWindow" k-title="'Login'"
                     k-width="450" k-height="300" k-visible="false"
                     k-content="{ url: '../app/login/login.html' }"
                     k-on-open="loginWindowVisible = true" k-on-close="loginWindowVisible = false"></div>

            </div>
        </div>
    </div>

    <div class="container" ng-view></div>
    <!--htmlbuild:js /lib/js/angular.min.js -->
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="~/js/utility.js"></script>
    <script src="~/js/service/share/commonSevices.js"></script>
    <!-- endbuild -->
    <!--htmlbuild:js Reusable Blocks/Modules -->
    <script src="~/app/blocks/exception/exception.module.js"></script>
    <script src="~/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="~/app/blocks/exception/exception.js"></script>
    <script src="~/app/blocks/logger/logger.module.js"></script>
    <script src="~/app/blocks/logger/logger.js"></script>
    <script src="~/app/blocks/router/router.module.js"></script>
    <script src="~/app/blocks/router/routerhelper.js"></script>
    <!-- endbuild -->
    <!--build:js service-->
    <script src="~/app/services/services.module.js"></script>
    <script src="~/app/services/dataservice.js"></script>
    <script src="~/app/services/config.js"></script>
    <script src="~/app/services/categories.service.js"></script>
    <script src="~/app/services/post.service.js"></script>
    <script src="~/app/services/register.service.js"></script>
    <script src="~/app/services/login.service.js"></script>
    <script src="~/app/services/authentication.service.js"></script>
    <!-- endbuild -->
    <!--htmlbuild:js categories-->
    <script src="~/app/categories/categories.module.js"></script>
    <script src="~/app/categories/categories.controller.js"></script>
    <script src="~/app/categories/config.route.js"></script>
    <!-- endbuild -->
    <!--build:js post-->
    <script src="~/app/post/post.module.js"></script>
    <script src="~/app/post/post.controller.js"></script>
    <script src="~/app/post/config.route.js"></script>
    <!-- endbuild -->
    <!--htmlbuild:js navigation-->
    <script src="~/app/navigation/navigation.controller.js"></script>
    <!-- endbuild -->
    <!--htmlbuild:js login-->
    <script src="~/app/login/login.module.js"></script>
    <script src="~/app/login/login.controller.js"></script>
    <script src="~/app/login/config.route.js"></script>
    <!-- endbuild -->
    <!--htmlbuild:js register-->
    <script src="~/app/register/register.module.js"></script>
    <script src="~/app/register/register.controller.js"></script>
    <script src="~/app/register/config.route.js"></script>
    <!-- endbuild -->
    <!--htmlbuild:js register-->
    <script src="/js/app.js"></script>
    <!-- endbuild -->

</body>
</html>