﻿<div id="registerFrom">
    <div class="demo-section k-content">
        <div id="register">
            <form kendo-validator="validator" ng-submit="validate($event)">
                <ul id="fieldlist">
                    <li>
                        <label for="fullname" class="required">Your Name</label>
                        <input type="text" id="fullname" name="UserName" ng-model="vm.registerModel.UserName" class="k-textbox" placeholder="User Name" required validationMessage="Enter {0}" style="width: 100%;" />
                    </li>

                    <li>
                        <label for="email" class="required">Email</label>
                        <input type="text" id="fullname" name="email" ng-model="vm.registerModel.Email" class="k-textbox" placeholder="e.g. email@example.net" required data-email-msg="Email format is not valid" style="width: 100%;" />
                    </li>

                    <li>
                        <label for="password" class="required">Password</label>
                        <input type="password" id="password" name="PassWordHash" class="k-textbox" ng-model="vm.registerModel.PassWordHash" placeholder="Enter password" required
                               style="width: 100%;" />
                    </li>

                    <li class="confirm">
                        <button class="k-button k-primary" type="button" ng-click="vm.register()">Register</button>
                        <button class="k-button k-primary" type="button" ng-click="vm.cancel()">Cancel</button>
                    </li>

                    <li class="status {{ validationClass }}">{{ validationMessage }} </li>
                </ul>
            </form>
        </div>
    </div>

    <script id="notificationSuccess" type="text/x-kendo-template">
        <p style="width: 16em; padding:1em;white-space:nowrap; "> {{ngValue}} #= kValue # </p>
    </script>
    <script id="notificationFail" type="text/x-kendo-template">
        <p style="width: 16em; padding:1em;white-space:nowrap; "> {{ngValue}} #= kValue # </p>
    </script>
    <span kendo-notification="vm.notifySuccess" k-options="vm.notifySuccessOptions"></span>
    <span kendo-notification="vm.notifyFail" k-options="vm.notifyFailOptions"></span>

</div>

<style scoped>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

        #fieldlist li.status {
            text-align: center;
        }

        #fieldlist li .k-widget:not(.k-tooltip),
        #fieldlist li .k-textbox {
            margin: 0 5px 5px 0;
        }

    .confirm {
        padding-top: 1em;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    #fieldlist li input[type="checkbox"] {
        margin: 0 5px 0 0;
    }

    span.k-widget.k-tooltip-validation {
        display: inline-block;
        width: 160px;
        text-align: left;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        color: red;
    }

    .k-tooltip-validation .k-warning {
        display: none;
    }
</style>